POSTGRES_USER=kahoot
POSTGRES_PASSWORD=kahoot123
POSTGRES_DB=kahoot_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=supersecretkey_changethisinprod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60